@model Camping.Models.ViewModels.LoginViewModel
@using Microsoft.AspNetCore.Identity;
@using Camping.Models;

@inject SignInManager<ApplicationUser> SignInManager

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<form method="post">
    <div asp-validation-summary="All"></div>

    <label asp-for="Email"></label>
    <input asp-for="Email" />
    <span asp-validation-for="Email"></span>

    <label asp-for="Password"></label>
    <input asp-for="Password" />
    <span asp-validation-for="Password"></span>

    <button type="submit">Sign In</button>
</form>
@{
    var loginProviders = (await SignInManager.GetExternalAuthenticationSchemesAsync()).ToList();
    if (loginProviders.Count > 0)
    {
        <h3>Login Providers</h3>
        <form action="ExternalLogin" method="post">
            @foreach (var provider in loginProviders)
            {
                <button type="submit" name="provider" value="@provider.Name" title="Log in using @provider.DisplayName"> @provider.Name</button>
            }
        </form>
    }
}